/* variables */
/* mixin */
/* extends */
.button__reserva, .btn__contacto {
  margin: 0 auto;
  background: linear-gradient(to bottom right, #1fafd1, #05138e, #05138ec2, #1fafd1);
  border-image: linear-gradient(to bottom right, #1fafd1, #05138e, #05138ec2, #1fafd1);
  border-width: 4px;
  border-radius: 10px;
  padding: 5px;
  margin-top: 50px;
  box-shadow: black 10px 13px 12px; }
  .button__reserva a, .btn__contacto a {
    color: white; }

#galeria, .container__servicios, .container__servicio__capital, .main__reserva, .container__main__quienes__somos, .container__form {
  background: linear-gradient(to bottom right, #1fafd1, #05138e, #05138ec2, #1fafd1);
  border: 2px solid blue;
  color: white;
  margin-top: 50px;
  padding: 50px; }

/* map */
/* general */
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: "Helvetica Neue", "Helvetica";
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: black; }

/* Body grid */
body {
  display: grid;
  gap: 10px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main" "footer"; }

/* madiea queris body */
@media (max-width: 1241px) {
  body {
    display: grid;
    gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "nav" "main" "header" "footer"; } }

@media (max-width: 768px) {
  body {
    display: grid;
    gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "nav" "main" "header" "footer"; } }

@media (max-width: 550px) {
  body {
    display: grid;
    gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "nav" "main" "header" "footer"; } }

@media (max-width: 400px) {
  body {
    display: grid;
    justify-items: stretch;
    gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "nav" "main" "footer"; } }

p {
  color: white; }

/* Images */
.header__logo {
  margin: 0 auto;
  margin-top: 24px; }

.logomgb {
  width: 320px; }

.logo-facebook {
  border-radius: 50%;
  width: 60px; }

.logo-instagram {
  border-radius: 25%;
  width: 60px; }

.logo-playstore {
  width: 20px; }

/* container header */
.header__container {
  background: linear-gradient(to bottom right, white, white, #1fafd1, #05138e, #05138e, white);
  border: 1px solid #2407e0;
  width: 100%;
  height: 120px;
  margin-bottom: 3px; }

.header__ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px auto;
  list-style: none; }

.header__li {
  margin-right: 10px; }

.h2 {
  background-color: black;
  border: 1px solid #2407e0;
  text-decoration: underline;
  font-size: 2em;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 120px 0; }

/* nav */
.nav-tabs {
  display: none; }

/* .nav__links {
    list-style: none;
} */
/* .header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: $header-background;
    border: $border-main;
    width: 100%;
    height: 120px;
    margin-bottom: 3px;
} */
/* .header__ul {
    list-style: none;
} */
@media (max-width: 768px) {
  .header__container {
    display: none; }
  .logomgb {
    position: absolute;
    top: 500px;
    width: 280px; }
  .logo-facebook {
    border-radius: 50%;
    width: 30px; }
  .logo-instagram {
    border-radius: 25%;
    width: 30px; }
  .logo-playstore {
    width: 30px; }
  .header__container {
    height: 60px; }
  .header__ul {
    margin: 10px auto; }
  .container__nav {
    width: 100%;
    max-width: 768px;
    height: 600px;
    overflow: hidden;
    background: url("../img/navbackground/navbackground.jpg");
    background-position: center;
    background-size: cover;
    border: 1px solid #2407e0; }
  .obelisco {
    background-image: url("../img/navbackground/hamburguesa.jpg");
    background-size: cover;
    background-position: left;
    min-height: 500px;
    height: 100vh;
    color: #fff; }
  .nav {
    --state-menu: translate(-100%);
    --state-close: scale(0);
    --state-hamburguer: scale(1);
    margin-top: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    grid-template-columns: repeat(2, max-content); }
  .nav:target {
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer: scale(0); }
  .nav__logo {
    font-size: 2.5rem;
    z-index: 1; }
  .nav__hamburguer,
  .nav__close {
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .5s transform;
    z-index: 1; }
  .nav__hamburguer {
    position: absolute;
    top: 45px;
    right: 25px;
    transform: var(--state-hamburguer); }
  .nav__close {
    position: absolute;
    top: 45px;
    right: 25px;
    transform: var(--state-close); }
  .nav__icon {
    width: 40px; }
  .nav-tabs {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    padding-left: 5%;
    transform: var(--state-menu);
    transition: .2s transform;
    transition-timing-function: ease-out;
    z-index: 1; }
  .nav-item {
    list-style: none; }
  .nav-link {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px; }
  #galeria {
    margin-top: 5px;
    padding: 0; }
  .nav-tabs .nav-link.active {
    color: white;
    background: linear-gradient(to bottom right, #1fafd1, #05138e, #05138ec2, #1fafd1);
    border-image: linear-gradient(to bottom right, #1fafd1, #05138e, #05138ec2, #1fafd1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2190px 60px;
    width: 245px;
    height: 58;
    border-radius: 2%;
    text-align: center; } }

/* header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: $header-background;
    border: $border-main;
    width: 100%;
    height: 120px;
    margin-bottom:3px;
}
.nav {
    background-color: rgb(0, 0, 0);
    background-image: url(../img/navbackground/navbackground.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1800px 600px;
}
.nav-tabs>.nav-item>.nav-link {
    color: rgb(250, 250, 250);
}
.nav-tabs .nav-link.active {
    transition: translate (-50%,-50%);
    background-image: url("../img/logo/fondocolorlogo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 50px;
    width: 200px;
    text-align: center;
}
.nav-tabs { 
    padding-top: 550px;
    width: 98%;
    display: flex;
    justify-content: space-around;
}
.tab-content>.active {
    display: none;
}
.nav__close, .nav__hamburguer{
    display: none;
}
/* Media queries header */
/* @media (max-width:768px) {
    .header {
        display: flex;
        width: 100%;
        height: 20em;
        background: red;
    } */
/*   .container {
        margin: 0 auto;
        width: 90%;
        max-width: 1200px;
        overflow: hidden;
    } */
/*     .nav {
        --state-menu: translate(-100%);
        --state-close: scale(0);
        --state-hamburguer: scale(1);
    
        padding: 40px 0;
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: repeat(2, max-content);
    }
    .nav:target {
        --state-menu: translate(1);
        --state-close: scale(0);
        --state-hamburguer: scale(0);

    }
    .nav__close,
    .nav__hamburguer {
        display: grid;
        cursor: pointer;
        grid-column: -2/-1;
        grid-row: 1/2;
        transition: .5s transform;
        z-index: 1;
    }
    .nav__hamburguer {
        transform: var(--state-hamburguer);
    }

    .nav__close {
        transform: var(--state-close);
    }
    .nav-tabs {
        background-color: black;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0;

        display: grid;
        align-content: center;
        justify-content: space-around;
        gap: 2em;
        padding-left: 5%;
        /* border-radius: 50%;
    transform: scale(23); */
/*       transform: var(--state-menu);
        transition: .2s transform;
        transition-timing-function: ease-out;
        transform: scale();
        z-index: 1;
    }
}  */
/* @media (max-width: 861px) {
    .header__container {
        height: auto;
    }
    .nav-tabs {
        padding-top: 340px;
        flex-direction: column;
    }
} */
/* @media (max-width: 768px) {
    .nav-tabs {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        background-position: top;
        padding-top: 45%;
    }
} */
/* @media (max-width: 541px){
    .li_googlestore {
        margin-top: 30px;
    }
} */
/* footer */
.footer {
  background: #152F4F;
  border: 1px solid #2407e0;
  padding-bottom: 50px;
  color: white; }

.about-company h2 {
  color: white; }

.direccion__caba {
  display: flex;
  color: white; }

.location h4 {
  color: white; }

footer p {
  margin-top: 30px;
  background-color: black; }

.footer__link {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0; }

.copyright {
  width: 100%;
  height: 50px;
  margin-bottom: 60px;
  text-align: center; }

.fa__social {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  height: 85px;
  overflow: hidden; }

.fa__face {
  color: #0055fff0;
  background-color: white;
  border-radius: 19%; }

.fa__insta {
  border-radius: 25%;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }

.boton__consultar {
  position: absolute;
  bottom: 10px;
  right: 5px;
  left: 5px; }

/* madia queries footer */
@media (max-width: 768px) {
  .footer__link {
    flex-direction: column; }
  .footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #2407e0;
    height: auto;
    margin: 50px auto; }
  .fa__social {
    height: 75px; } }

@media (max-width: 400px) {
  .footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #2407e0;
    height: auto; } }

/* animation main*/
main,
.container__form {
  animation: transitionIn 1.5s; }

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-15deg); }
  to {
    opacity: 1;
    transform: rotateX(0); } }

.logomgb, .header__ul {
  animation: transitionInLogo 1.3s; }

@keyframes transitionInLogo {
  from {
    opacity: .5;
    transform: scale(0.7); }
  to {
    opacity: 1;
    transform: rotateY(0deg);
    transform: scale(1); } }

/* index grid */
.header__container {
  grid-area: header; }

.nav-tabs {
  grid-area: nav; }

.main__index {
  grid-area: main; }

.footer {
  grid-area: footer; }

/* galeria bootstrap */
.link__call {
  color: #1fafd1;
  text-decoration: none; }

#galeria div img {
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  box-shadow: 1px 1px 3px 2px black;
  cursor: pointer; }

.boton__scale {
  height: 100%;
  width: 100%; }

.col__galeria__3 {
  overflow: hidden; }

#galeria3 {
  height: 97.5%; }

#galeria4 {
  height: 94%; }

#galeria5 {
  height: 96%; }

#galeria6 {
  height: 96%; }

#galeria7 {
  height: 97%; }

#galeria8 {
  height: 97%; }

#galeria9 {
  height: 100%; }

#galeria10 {
  height: 97%; }

#evento__click1,
#evento__click2,
#evento__click3,
#evento__click4,
#evento__click5,
#evento__click6,
#evento__click7,
#evento__click8,
#evento__click9,
#evento__click10 {
  display: none; }

#evento__click1:checked ~ .col__galeria__1 {
  transform: scale(1.5); }

#evento__click2:checked ~ .col__galeria__2 {
  transform: scale(1.5); }

#evento__click3:checked ~ .col__galeria__3 {
  transform: scale(1.5); }

#evento__click4:checked ~ .col__galeria__4 {
  transform: scale(1.5); }

#evento__click5:checked ~ .col__galeria__5 {
  transform: scale(1.5); }

#evento__click6:checked ~ .col__galeria__6 {
  transform: scale(1.5); }

#evento__click7:checked ~ .col__galeria__7 {
  transform: scale(1.5); }

#evento__click8:checked ~ .col__galeria__8 {
  transform: scale(1.5); }

#evento__click9:checked ~ .col__galeria__9 {
  transform: scale(1.5); }

#evento__click10:checked ~ .col__galeria__10 {
  transform: scale(1.5); }

@media (min-width: 768px) {
  #galeria9 {
    height: 97%; }
  #galeria4 {
    height: 96%; } }

@media (max-width: 768px) {
  .item__galeria {
    margin-top: 20px; }
  .col__galeria__3 {
    display: flex;
    justify-content: space-around; }
  #galeria3 {
    display: flex; }
  .col__galeria__6 {
    display: flex;
    justify-content: space-around; } }

/* grid servicios */
.main__servicios {
  grid-area: main; }

/* servicos */
.container__servicios__h2 {
  text-align: center;
  margin-bottom: 50px; }

.column__servicios_margintop {
  margin-top: 40px; }

/* container servicio capital */
.container__servicio__capital__h2 {
  text-align: center; }

.container__servicio__capital__row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around; }

.container__servicio__capital__ul {
  margin-top: 50px;
  list-style: none; }

.container__servicio__capital__row h4 {
  text-align: center; }

.servicios__mapa {
  height: 550px;
  width: 400px; }
  .servicios__mapa__1 {
    margin-top: 88px; }

/* media queris servicios */
@media (max-width: 1200px) {
  .container__servicio__capital__row {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around; }
  .container__servicio__row__h {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px; } }

@media (max-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
    display: flex;
    flex-wrap: wrap; }
  .container__servicio__capital {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 0; }
  .servicios__mapa {
    max-width: 360px;
    padding: 40px; } }

@media (max-width: 600px) {
  .servicios__2 {
    display: block; }
  .container__servicios {
    padding: 10px; }
  .container__servicios__row {
    margin-top: 550px; } }

/* grid reserva tu lugar */
.main__reserva {
  grid-area: main; }

/* main */
.main__reserva__h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px; }

.main__reserva__row__img {
  width: 110%; }

.main__reserva__row__qr__img {
  padding: 20px;
  margin: 30px; }

.main__reserva__p {
  padding: 50px; }

.main__reserva__h3 {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px; }

/* contenedor de QR */
.d-flex {
  flex-wrap: wrap; }

.button__reserva {
  display: block; }

@media (max-width: 768px) {
  .main__reserva__row {
    width: 400px;
    padding: 0;
    margin: 0 auto; }
    .main__reserva__row__img {
      min-width: 310px; }
    .main__reserva__row__qr__img {
      display: none; } }

@media (max-width: 600px) {
  .main__reserva__row {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 320px; }
    .main__reserva__row__img {
      min-width: 320px; }
    .main__reserva__row__qr__img {
      display: none; }
  .main__reserva__h1 {
    font-size: 2em; }
  .main__reserva__p {
    font-size: 1.5em;
    text-align: center;
    margin-top: 30px;
    padding: 0; } }

/* grid quienes somos */
.main__quienessomos {
  grid-area: main; }

.quienessomos__h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px; }

/* Quienes somos */
.quienessomos__p {
  width: 100%;
  margin: auto auto;
  border: 1px solid #2407e0;
  padding: 25px;
  box-shadow: 0px 0px 3px 0px white;
  margin-top: 100px;
  background: black; }

.quienessomos__iframe {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  width: 100%;
  height: 350px;
  margin: 60px 0; }

iframe {
  width: 100%;
  border: 0;
  height: 100%; }

/* .section__dos__quienessomos {
    display: flex;
    flex-wrap: wrap;
} */
.section__dos__quienessomos p {
  padding: 25px;
  color: get-map(("w": white, "b": black, "t1": 1em, "t2": 1.5em, "t3": 2em, "t4": 2.5em), w); }

/* media queries */
@media (max-width: 1200px) {
  .quienessomos__p {
    margin-top: 100px;
    background: black; }
  .section__dos__quienessomos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%; } }

@media (max-width: 768px) {
  .container__main__quienes__somos {
    padding: 0; }
  .quienessomos__p {
    margin-top: 100px;
    background: black;
    font-size: 1em; } }

@media (max-width: 310px) {
  .container__main__quienes__somos {
    padding: 0; }
  .quienessomos__p {
    margin-top: 100px;
    background: black;
    /*  font-size:map-get($letras,t3); */ } }

/* main carrousel de quienes somos */
.carousel-inner {
  width: 90%;
  margin: 0 auto; }

.carousel-item {
  border: 1px solid #2407e0; }

/* grid contactos */
.main__contacto {
  grid-area: main; }

/* Contacto */
.container {
  color: gray; }

.container__form h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px; }

.contacto__text {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0; }

.form-floating {
  width: 100%; }

.form__opcion {
  color: white; }

.container__btn {
  display: flex; }

.btn__contacto {
  display: inline-block;
  color: white;
  width: 200px; }
