/* grid contactos */

.main__contacto {
    grid-area: main;
}
/* Contacto */
.container {
    color: gray;
}
.container__form {
    @extend %main;
    h1 {
        color: map-get($letras, w);
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}
.contacto__text {
    @include flex( flex, row, wrap, center ,center );
    margin: 20px 0; 
}
.form-floating {
    width: 100%;
}

.form__opcion {
    color: map-get($letras,w);
}

.container__btn {
    display: flex;
}
.btn__contacto {
    @extend %boton;
    display: inline-block;
    color: map-get($letras, w);
    width: 200px;
}