/* general */
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: "Helvetica Neue", "Helvetica";
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: black;
}
/* Body grid */
body {
    display: grid;
    gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}
/* madiea queris body */
@media (max-width: 1241px) {
    body {
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "nav"
            "main"
            "header"
            "footer";
    }
}
@media (max-width: 768px) {
    body {
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "nav"
            "main"
            "header"
            "footer";
    }
}
@media (max-width: 550px) {
    body {
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "nav"
            "main"
            "header"
            "footer";
    }
}
@media (max-width: 400px) {
    body {
        display: grid;
        justify-items: stretch;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }
}
p {
    color: map-get($letras, w);
}
/* Images */
.header__logo{
    margin: 0 auto;
    margin-top: 24px;
}
.logomgb {
    width: 320px;
}
.logo-facebook {
    border-radius: 50%;
    width: 60px;
}
.logo-instagram {
    border-radius: 25%;
    width: 60px;
}
.logo-playstore {
    width: 200px;
}
/* container header */
.header {
    &__ul{
    @include flex (flex, row, wrap, center, space-around);
    margin: 30px auto;
    list-style: none;
    }
    &__li{
        margin-right: 60px;
    }
}
.h2 {
    background-color: black;
    border: $border-main;
    text-decoration: underline;
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 120px 0;
}
/* nav */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: $header-background;
    border: $border-main;
    width: 100%;
    height: 120px;
    margin-bottom:3px;
}
.nav {
    background-color: rgb(0, 0, 0);
    background-image: url(../img/navbackground/navbackground.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1800px 600px;
}
.nav-tabs>.nav-item>.nav-link {
    color: rgb(250, 250, 250);
}
.nav-tabs .nav-link.active {
    transition: translate (-50%,-50%);
    background-image: url("../img/logo/fondocolorlogo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 50px;
    width: 200px;
    text-align: center;
}
.nav-tabs { 
    padding-top: 550px;
    width: 98%;
    display: flex;
    justify-content: space-around;
}
.tab-content>.active {
    display: none;
}
/* Media queries header */

@media (max-width: 861px) {
    .header__container {
        height: auto;
    }
    .nav-tabs {
        padding-top: 340px;
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .nav-tabs {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        background-position: top;
        padding-top: 45%;
    }
}
@media (max-width: 541px){
    .li_googlestore {
        margin-top: 30px;
    }
}
/* footer */
.footer {
    background: #152F4F;
    border: $border-main;
    padding-bottom: 50px;
    color: white;
}
.about-company h2 {
    color: map-get($letras, w);
}
.direccion__caba {
    display: flex;
    color: map-get($letras, w);
}
.location {
    h4 {
        color: map-get($letras, w);
    }
}
footer p {
    margin-top: 30px;
    background-color: black;
}
.footer__link {
    @include flex(flex, row, wrap, center, space-around);
    margin: 30px 0;
}
.copyright {
    width: 100%;
    height: 50px;
    margin-bottom: 60px;
    text-align: center;
}
.fa__social {
    @include flex(flex, column, wrap, center, space-evenly);
    color: map-get($letras, w);
    height: 85px;
    overflow: hidden;
}
.fa__face {
    color: #0055fff0;
    background-color: map-get($letras, w);
    border-radius: 19%
}
.fa__insta {
    border-radius: 25%;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.boton__consultar {
    position: absolute;
    bottom: 10px;
    right: 5px;
    left: 5px;
}
/* madia queries footer */
@media (max-width: 768px) {
    .footer__link {
        flex-direction: column;
    }
    .footer {
        @include flex (flex, row, wrap, center, center);
        border: $border-main;
        height: auto;
        margin: 50px auto;
    }
    .fa__social {
        height: 75px;
    }
}
@media (max-width: 400px) {
    .footer {
        @include flex (flex, row, wrap, center, center);
        border: $border-main;
        height: auto;
    }
}
/* animation main*/
main,
.container__form {
    animation: transitionIn 1.5s;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-15deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
.logomgb, .header__ul {
    animation:transitionInLogo 1.3s;
}
@keyframes transitionInLogo {
    from {
        opacity: .5;
        transform: scale(.7);
    }
    to {
        opacity: 1;
        transform: rotateY(0deg);
        transform: scale(1);
    }
}