/* general */
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: "Helvetica Neue", Helvetica;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

/* Body grid */
body {
    display: grid;
    gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}
p {
    color: white;
}

/* Images */
.div__img__logo__mgb {
    margin: 0 auto;
    margin-top: 24px;
}
.logomgb {
    width: 320px;
}
.logo-facebook {
    border-radius: 50%;
    width: 60px;
}
.logo-instagram {
    border-radius: 25%;
    width: 60px;
}
.logo-playstore {
    width: 200px;
}

/* social header */
.nav__social {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    margin: 30px auto;
    list-style: none;
}
.li__social {
    margin-right: 60px;
    margin-bottom: 30px;
}
.h2 {
    background-color: black;
    border: 1px solid rgb(36, 7, 224);
    text-decoration: underline;
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 120px 0;
}
@media (max-width: 1241px) {
    .nav__social {
        margin: 30px auto;
    }
}
@media (max-width: 768px) {
    .container__header {
        display: grid;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: linear-gradient(to bottom right, white, white, #1fafd1, #05138e, #05138e, white);
        width: 100%;
        border: 1px solid rgb(36, 7, 224);
        justify-items: end;
        margin-bottom:3px;
    }
    .nav__social {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-direction: row;
    }
}
@media (max-width: 550px) {
    body {
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "nav"
            "main"
            "header"
            "footer";
    }

    .nav__social {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top:10px;
        margin-left: 20px;
    }
}
@media (max-width: 350px) {
    .nav__social {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}

/* nav */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(to bottom right, white, white, #1fafd1, #05138e, #05138e, white);
    width: 100%;
    height: 120px;
    border: 1px solid rgb(36, 7, 224);
    margin-bottom:3px;
}
.nav {
    background-color: rgb(0, 0, 0);
    background-image: url(../img/bodybackground.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1800px 600px;
}
.nav-tabs>.nav-item>.nav-link {
    color: rgb(250, 250, 250);
}
.nav-tabs .nav-link.active {
    transition: translate (-50%,-50%);
    background-image: url("../img/fondocolorlogo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 50px;
    width: 200px;
    text-align: center;
}
.nav-tabs {
    padding-top: 550px;
    width: 98%;
    display: flex;
    justify-content: space-around;
}
.nav-link {
    padding: 5px;
    margin-bottom: 40px;
}
.nav-item>a.active {
    color: aqua;
}
.tab-content>.active {
    display: none;
}
/* Media queries index */

@media (max-width: 1241px) {
    body {
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "nav"
            "main"
            "header"
            "footer";
    }
    .container__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: linear-gradient(to bottom right, white, white, #1fafd1, #05138e, #05138e, white);
        width: 100%;
        height: 120px;
        border: 1px solid rgb(36, 7, 224);
        margin-bottom:3px;
    }
    .div__nav {
        justify-content: center;
        width: 50%;
    }
    .nav__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        background-color: black;
        border: 1px solid rgb(36, 7, 224);
        width: 95%;
        height: fit-content;
        padding: 5px;
    }
    .nav__nav__nav {
        width: 40%;
        text-align: center;
    }
}
@media (max-width: 861px) {
    .container__header {
        height: auto;
    }
}
@media (max-width: 768px) {
    body {
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "nav"
            "main"
            "header"
            "footer";
    }

    header ul {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .nav-tabs {
        padding-top: 55%;
        display: flex;
        background-position: top;
        align-content: flex-start;
    }
    .div__nav {
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(to bottom right, black, #282828);
        border: 1px solid rgb(36, 7, 224);
        width: 70%;
        margin-top: 60px;
        margin-bottom: 30px;
        padding: 60px;
    }
    .nav__nav__nav {
        width: 70%;
    }
    .section__recorrido {
        display: flex;
        width: 300px;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .img__mapa {
        border: 1px solid black;
        padding: 5px;
        box-shadow: 0px 0px 3px 0px white;
        width: 300px;
    }
}
/* footer */

.footer {
    background: #152F4F;
    color: white;
    padding-bottom: 50px;
    border: 2px solid rgb(36, 7, 224);
}
footer p {
    margin-top: 30px;
    background-color: black;
}
.footer__link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.copyright {
    width: 100%;
    height: 50px;
    margin-bottom: 60px;
    text-align: center;
}
.footer__link {
    margin: 30px 0;
}
.fa__social {
    display: flex;
    color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 85px;
    align-content: center;
    overflow: hidden;
}
.fa__face {
    color: #0055fff0;
    background-color: white;
    border-radius: 19%
}
.fa__insta {
    border-radius: 25%;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.direccion__caba {
    display: flex;
}
.boton__consultar {
    position: absolute;
    bottom: 10px;
    right: 5px;
    left: 5px;
}

@media (max-width: 768px) {
    .footer__link {
        flex-direction: column;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        border: 2px solid rgb(36, 7, 224);
        height: auto;
        margin: 50px auto;
        padding: 20px;
        }
}
@media (max-width: 400px) {
    body {
        display: grid;
        justify-items: stretch;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
    }
    .div__img__logo__mgb {
        margin-top: 30px;
        margin-bottom: 5px;
    }
    .nav__social {
        margin: 0 auto;
        margin-right: 50px;
    }
    .li__social {
        margin: 5px;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        border: 2px solid rgb(36, 7, 224);
        height: auto;
        width: 320px;
    }
}

/* animation main*/

main,
.container__form {
    animation: transitionIn 1.5s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-15deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
.logomgb, .nav__social {
    animation:transitionInLogo 1.3s;
}
@keyframes transitionInLogo {
    from {
        opacity: .5;
        transform: scale(.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
