/* grid servicios */
.main__servicios {
    grid-area: main;
}
/* servicos */
.container__servicios {
    @extend %main;
    padding: 50px;
    &__h2 {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 30px;
    }
}
.column__servicios_margintop {
    margin-top:40px;
}
/* container servicio capital */
.container__servicio__capital {
    @extend %main ;
    padding:50px;
    &__h2{
        margin-top: 30px;
        text-align: center;
    }
    &__row {
        @include flex (flex, row, wrap, flex-start, space-around);
        margin-top: 50px;
    }
    &__ul {
        margin-top: 50px;
        list-style: none;
    }
  
}
.servicios__mapa {
    height: 550px;
    width: 400px;
    &__1 {
        margin-top: 88px;
    }
}
/* media queris servicios */
@media (max-width:1200px) {
    .container__servicio__capital__row {
        @include flex (flex, column,0, center, space-around);
    }
    .container__servicio__row__h {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
@media (max-width: 768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
        display: flex;
        flex-wrap: wrap;
    }
    .container__servicio__capital {
        @include flex (flex, column, wrap, center, space-around);
        text-decoration: none;
        padding: 0;
        &__ul {
            margin-left: -50px;
        }
    }
    .servicios__mapa {
        max-width: 360px;
        padding: 40px;
    }
}
@media (max-width: 600px) {
    .container__servicios {
        display: block;
        padding: 10px;
    }
    .container__servicios__row {
        margin-top:550px;
    }
    .iframe__creado {
    height: 700px;
    width: 100%;
    }
    .col-ms-12 {
        width: 100%;
        text-align: center;
    } 
}

.iframe__creado {
    height: 700px;
    width: 80%;
}