/* grid quienes somos */

.main__quienessomos {
    grid-area: main;
}
.quienessomos__h1 {
    color: map-get($letras, w);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
/* Quienes somos */
.container__main__quienes__somos {
    @extend %main ;
}
.quienessomos__p
/* p ambos section */
    {
    width: 100%;
    margin: auto auto;
    border: $border-main;
    padding: 25px;
    box-shadow: 0px 0px 3px 0px white;
    margin-top: 100px;
    background: black;
}
.quienessomos__iframe
/* iframe ambos section */
    {
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    width: 100%;
    height: 350px;
    margin: 60px 0;
}
iframe {
    width: 100%;
    border: 0;
    height: 100%;
}
/* .section__dos__quienessomos {
    display: flex;
    flex-wrap: wrap;
} */

.section__dos__quienessomos p {
    padding: 25px;
    color: get-map($letras, w);
}
/* media queries */
@media (max-width: 1200px) {
    .quienessomos__p {
        margin-top: 100px;
        background: black;
    }
    .section__dos__quienessomos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .container__main__quienes__somos {
        padding:0;
    }
    .quienessomos__p {
        margin-top: 100px;
        background: black;
        font-size: map-get($letras,t3);
    }
}
@media (max-width: 310px) {
    .container__main__quienes__somos {
        padding: 0;
    }
    .quienessomos__p {
        margin-top: 100px;
        background: black;
       /*  font-size:map-get($letras,t3); */
    }
}
/* main carrousel de quienes somos */
.carousel-inner {
    width: 90%;
    margin: 0 auto;
}

.carousel-item {
    border: $border-main;
}
