/* grid reserva tu lugar */
.main__reserva {
    grid-area: main;
}
/* main */
.main__reserva {
    @extend %main;
    &__h1{
        color: map-get($letras, w);
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    &__row__img {
        width: 110%;
    }
    &__row__qr__img {
        margin: 5px;
    }
    &__p {
        padding:30px;
    }
    &__h3 {
        color: map-get($letras,w);
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}
.img__qr {
    width: 220px;
}
/* contenedor de QR */
.d-flex {
    flex-wrap: wrap;
}
.button__reserva {
    @extend %boton;
    display: block;
}
@media (max-width: 768px) {
    .main__reserva__row {
        width:400px;
        margin: 0 auto;
        &__img {
                min-width: 310px;
            }
        &__qr__img {
            display: none;
        }
    }
}
@media (max-width: 600px) {
    .main__reserva__row {
        display: flex;
        justify-content: space-around;
        padding:0;
        width: 320px;
        &__img {
            min-width: 320px;
        }
        &__qr__img {
            display: none;
        }
    }    
    .main__reserva {
        &__h1{
        font-size: 2em;
        }
        &__p {
            font-size:map-get($letras,t2);
            text-align: center;
            margin-top: 30px;
            padding:0;
        }
    }
}