/* grid servicios */

.main__servicios {
    grid-area: main;
}
/* servicos */

.container__servicios {
    padding: 100px;
    border: 2px solid blue;
    background: linear-gradient(to bottom right, #1fafd1, #05138e, #05138ec2, #1fafd1);
    margin-top: 50px;
    color: white;
    &__rows {
        margin-bottom: 50px;
    }
    &__h2 {
        text-align: center;
        margin-bottom: 100px;
    }
}
/* container servicio capital */

.container__servicio__capital {
    width: 100%;
    padding: 50px;
    border: 1px solid blue;
    background: linear-gradient(to bottom right, #1fafd1, #05138e, #05138ec2, #1fafd1);
    margin-top: 50px;
    color: white;
    &__h2{
        text-align: center;
    }
    &__row {
        margin-top: 50px;
    }
    &__ul {
        margin-top: 50px;
    }
}

.servicios__mapa {
    height: 550px;
    width: 400px;
    &__1 {
        margin-top: 88px;
    }
}
/* media queris servicios */
/* @media (min-with: 800px){
} */
@media (max-width:1200px) {
    .container__servicio__capital__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
    }
    .container__servicio__capital__h {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
        display: flex;
        flex-wrap: wrap;
    }
    .container__servicio__capital {
        padding: 0;
    }
    .servicios__mapa {
        max-width: 360px;
        padding: 40px;
    }
}

@media (max-width: 600px) {
    .servicios__2 {
        display: block;
    }
    .container__servicios {
        padding: 10px;
    }
}