/* grid servicios */
.main__servicios {
    grid-area: main;
}
/* servicos */
.container__servicios {
    @extend %main;
    &__rows {
        margin-bottom: 50px;
    }
    &__h2 {
        text-align: center;
        margin-bottom: 100px;
    }
}
/* container servicio capital */
.container__servicio__capital {
    @extend %main ;
    &__h2{
        text-align: center;
    }
    &__row {
        /* @include flex (flex, row,  wrap, center, space-around); */
        margin-top: 50px;
    }
    &__ul {
        margin-top: 50px;
        list-style: none;
    }
    &__row h4 {
        text-align: center;
    }
}

.servicios__mapa {
    height: 550px;
    width: 400px;
    &__1 {
        margin-top: 88px;
    }
}
/* media queris servicios */
@media (max-width:1200px) {
    .container__servicio__capital__row {
        @include flex (flex, column,  wrap, center, space-around);
    }
    .container__servicio__row__h {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
        display: flex;
        flex-wrap: wrap;
    }
    .container__servicio__capital {
        @include flex (flex, column, wrap, center, space-around);
        text-decoration: none;
        padding: 0;
    }
    .servicios__mapa {
        max-width: 360px;
        padding: 40px;
    }
}

@media (max-width: 600px) {
    .container__servicio__capital {
        @include flex (flex, row , wrap, center, space-evenly);
      /*   display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; */
    }
    .servicios__2 {
        display: block;
    }
    .container__servicios {
        padding: 10px;
    }
}






