*{
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    font-family: "Helvetica Neue",Helvetica;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(2, 2, 84);
}
li a img {
    width: 60px;
    height: 60px;
}
hr {
    margin-top: 60px;
    margin-bottom: 60px;
}
li {
    list-style: none;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}
p {
    color: white;
}
.div__direccion__ul__li > li   {
    color: black;
}
                    /* Images */

.logomgb {
    width: 320px;
}

.logo-facebook {
    border-radius: 50%;
    width: 60px;
} 
.logo-instagram {
    border-radius: 25%;
    width: 60px;
}
.logo-playstore {
    width: 200px;
}
.variascombis {
    /* min-width: 320px; */
    width: 297px;
    margin-bottom: 50px;
    border: 5px solid;
    border-radius: 35px;
    box-shadow: 0px 0px 3px 0px white;
}
.combi__correo {
    border: 5px solid;
    border-radius: 35px;
    box-shadow: 0px 0px 3px 0px white;
    width: 90%;
}

                    /* Body grid */

body {
    display: grid;
    gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows:auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer"
    ;
}

                    /* index grid */

.container__header {
    grid-area: header ;
}
.div__nav {
    grid-area: nav ;
}
.main__index {
    grid-area: main;
}
.footer {
    grid-area: footer;
}

                    /* grid quienes somos */

.main__quienessomos {
    grid-area: main;
}
                    /* grid recorrido */

.main__recorridos {
    grid-area: main;
}
                    /* grid reserva tu lugar */

.main__reserva {
    grid-area:  main;
}

                    /* grid contactos */
                    
.main__contacto {
    grid-area: main;
}
   /*  .nav__social {
        background-color: yellow;
    } */
                    /* header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.container__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(to bottom right, black, #282828);
    width: 100%;
    height: 130px;
    margin-top: 50px;
    border: 1px solid rgb(36, 7, 224);
}
.div__img__logo__mgb {
    margin: 30px auto;
}

                    /* social header */


.nav__social {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    margin: 30px auto;
}

.li__social {
    margin-right: 60px;
    margin-bottom: 30px;
}

                    /* nav */

.div__nav {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to bottom right, black, #282828);
    border: 1px solid rgb(36, 7, 224);
    width: 80%;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 60px;
}
.nav__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: black;
    border: 1px solid rgb(36, 7, 224);
    width: 95%;
    height: fit-content;
    padding: 5px;
}
.nav__nav__nav {
    background: linear-gradient(to bottom, #ffffff, #e6e6f1);
    width: 90%;
    border: 1px solid rgb(36, 7, 224);
    margin: 10px;
}

.nav__item {
    display: inline-block;
    font-size: 25px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 20px;
}
.nav__item:hover {
    transform: scale(1.5);
    transition: 1.5s;
    background-color: gray;
}

                    /* Main index */
                  
.grid__container {
    display: grid;
    width:80%;
    margin: 0 auto;
    grid-template-columns: repeat( 3, 1fr);
    grid-auto-rows: 250px;
    padding: 20px;
    gap: 20px;
    border: 3px solid white;
    background-color:black;
}

.img__galeria {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid white;
}
.grid__item:hover {
    transform: scale(1.5);
    transition: all 1.5s;
}
.grid__item:first-child {
    grid-row-start: span 3;
}
.grid__item:nth-child(2) {
    grid-row-start: span 2 ;
}
.grid__item:nth-child(3) {
    grid-row-start: span 3 ;
}
.grid__item:nth-child(4) {
    grid-row-start: span 2 ;
}
.grid__item:nth-child(7) {
    grid-column-start: span 2;
    grid-row-start: span 2 ;
}
.grid__item:nth-child(8) {
    grid-row-start: span 2 ;
}
.grid__item:nth-child(9) {
    grid-row-start: span 2 ;
}
.grid__item:nth-child(11) {
    grid-row-start: span 2 ;
}

.container__main {
    background: linear-gradient(to bottom right, black, #282828);
    border: 3px solid white;
    box-shadow: 0px 0px 3px 0px white;
    text-align: center;
    width: 100%;
    height: 100%;
}
.container__main__dos {
    background: linear-gradient(to bottom right, black, #282828);
    border: 3px solid white;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 0px white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.button__grid {
    color: white;
    background-color:rgb(7 24 224);;
    border: 4px solid black;
    border-radius: 10px;
    padding: 5px;
}
.button__grid__dos {
    color: white;
    background-color:rgb(36, 7, 224);
    border: 4px solid black;
    border-radius: 10px;
    padding: 5px;
}
.button__grid a {
    color:white;
}
.button__grid__dos a {
    color:white;
}
@media (max-width: 1241px) {
    .nav__social {
        margin: 30px auto;
    }
    .button__grid{
        margin-top: 20px;
    }
}
@media (max-width: 768px) {
    .container__header {
        display: grid;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: linear-gradient(to bottom right, black, #282828);
        width: 100%;
        margin-top: 50px;
        border: 1px solid rgb(36, 7, 224);
        justify-items: end;
    }
    .nav__social {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        flex-direction: row;
    }
    .grid__container {
        grid-template-columns: repeat( 2, 1fr);
        grid-auto-rows: 150px;
        gap: 1px;
    }
    .container__main {
        text-align: center;
        width: 98%;
        height: 95%;
        font-size: 16px;
    }
    .container__main {
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .p__main__right {
        text-align: center;
        margin-top: 30px;
        font-size: 1rem;
    }
    .button__grid{
        font-size: 1,5em;
        margin-top: 50px;
    }
    .grid__item:nth-child(5){
        grid-row-start: span 2;
    }
    .grid__item:nth-child(6){
        grid-row-start: span 2;
    }
    .container__main__dos {
        width: 100%;
        height: 102%;
    }
}

@media (max-width: 550px) {
    body {
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
            "nav"
            "main"
            "header"
            "footer";
    }
    .nav__social {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-left: 50px;
    }

    .grid__container {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 350px){
    .nav__social {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}
                   /* seccion main 2 */

.button__dos {
    background-color:rgb(36, 7, 224);
    color: white;
    border: 5px solid black;
    border-radius: 7px;
    position: relative;
    padding: 4px;
    margin-bottom: 60px;
    top: 70%;
}
.button__dos>a {
    color:white;
}
                    /* footer */


.footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: black;
    border: 2px solid rgb(36, 7, 224);
    width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 20px;
}
                    
footer p {
    margin-top: 30px;
    background-color: black;
}

.container__direccion {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    width: 100%;
}

.copyright {
    width: 100%;
    height: 50px;
    margin-bottom: 60px;
    text-align: center;
}

.copyright__dos {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
 }
.div__direccion {
    position : relative;
}
.div__direccion__dos {
    position : relative;
    margin-bottom: 60px;
}
.div__direccion__ul {
    text-align: center;
}
                    /* Media queries index */

@media (max-width: 1241px) {
    body {
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows:auto;
        grid-template-areas: 
        "nav"
        "main"
        "header"
        "footer";
    }
    .container__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: linear-gradient(to bottom right, black, #282828);
        width: 100%;
        height: auto;
        margin-top: 50px;
        border: 1px solid rgb(36, 7, 224);
    }
    .div__nav {
        justify-content: center;
        width: 50%;
    }
    .nav__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        background-color: black;
        border: 1px solid rgb(36, 7, 224);
        width: 95%;
        height: fit-content;
        padding: 5px;
    }
    .nav__nav__nav {
        width: 40%;
        text-align: center;
    }
                /* media queries reserva tu lugar */
}

@media (max-width: 768px) {
    body {
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows:auto;
        grid-template-areas: 
        "nav"
        "main"
        "header"
        "footer";
    }
    header ul {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .div__nav {
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(to bottom right, black, #282828);
        border: 1px solid rgb(36, 7, 224);
        width: 70%;
        margin-top: 60px;
        margin-bottom: 30px;
        padding: 60px;
    }
    .nav__nav__nav {
        width: 70%;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        border: 2px solid rgb(36, 7, 224);
        height: auto;
        width: 300px;
        margin: 50px auto;
        padding: 20px;
    }
    .section__recorrido {
        display: flex;
        width: 300px;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .img__mapa {
        border: 1px solid black;
        padding: 5px;
        box-shadow: 0px 0px 3px 0px white;
        width: 300px;
    }
}
@media (max-width: 400px) {
    body {
        display: grid;
        justify-items: stretch;
        gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows:auto;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    }
    .div__img__logo__mgb {
        margin-top: 30px;
    }
    .nav__social {
        margin: 0 auto;
    }
    .li__social {
        margin: 5px;
    }
    .footer {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        border: 2px solid rgb(36, 7, 224);
        height: auto;
        width: 250px;
    }
}
                    /* footer social */

.footer__nav__social{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.footer__li {
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

                    /* Pagina 2 */
                    /* Recorridos */

h1 {
    font-size: 3em;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.horarios {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 30px;
}
.main__recorridos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.correo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
}
.h2 {
    background-color: black;
    border: 1px solid rgb(36, 7, 224);
    text-decoration: underline;
    font-size:2em;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 120px 0;
}
                    /* Boulevard */
.bv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mapa__recorrido__bv  {
    margin-bottom: 60px;
}
.mapa__recorrido__bv:hover {
    transform: scale(1.5);
    transition: 2.5s;
}

.img__mapa {
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px white;
}
.lista__recorrido__bv {
    background-image: url('../img/av9dejulio.jpg');
    background-size: cover;
    margin: auto 0px;
    padding: 15px;
    border-style: double; 
    border-width: 4px;
    border: 1px ridge white;
    border-width: 4px;
}
.lista__recorrido__bv:hover {
    transform: scale(1.5);
    transition: 2.5s;
}
@media (min-width: 1200px) {
    .main__recorridos {
        display: flex;
        flex-direction: column;
    }
    .recorrido__correo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
}
.recorrido__correo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: space-around;
}
.lista__recorrido__correo {
    background-image: url('../img/av9dejulio.jpg');
    background-size: cover;
    margin: auto 0px;
    padding: 15px;
    border-style: double; 
    border-width: 4px;
    border: 1px ridge white;
    border-width: 4px;
}
@media (max-width: 550px) {
    .ul__recorrido /* Ambos section div ul */ {
        border: 1px ridge white;
        max-width: 100%;
        border-style: double; 
        border-width: 4px;
        border: 1px ridge white;
        border-width: 4px;
    }
}



                    /* Correo */
.correo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.lista__recorrido__correo {
    background-image: url('../img/montegrande.jpg');
    background-position: center;
    margin-top: 60px;
}
.mapa__recorrido__correo:hover {
    transform: scale(1.5);
    transition: 2.5s;
}
.lista__recorrido__correo:hover {
    transform: scale(1.5);
    transition: 2.5s;
}
@media (min-width: 1200px){
    .lista__recorrido__correo {
        background-image: url(../img/montegrande.jpg);
        background-position: center;
    }
}
@media (min-width: 768px){
    .lista__recorrido__correo {
        background-image: url(../img/montegrande.jpg);
        background-position: center;
        margin: auto;
    }
}
section div ul li {
    color: rgb(249, 251, 251);
}

                    /* Pagina 3 */
                    /* Reserva tu lugar */

.main__reserva {
       background: linear-gradient(to bottom right, black, #282828);
       border: 1px solid rgb(36, 7, 224);
       text-decoration: underline;
       flex-direction: column;
}
.container__reserva {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 50px 50px;
    justify-content: space-between;
    
}
.ul__recorrido li{
    font-weight: bold;
    text-shadow: 3 px 3 px 3px white;
}
.container__reserva__img {
    display: flex;
    flex-wrap: wrap;
    border: 1px ridge white;
    margin-top: 50px;
    width: 320px;
}
.div__container__reserva__img{
        background-image: url(../img/descargatuapk.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        border: 1px ridge white;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
.img__reserva {
    width: 100%;
}
.container__reserva__p {
        margin-top: 50px;
        width: 320px;
}
.reserva__p {
    font-size: 30px;
    min-width: 320px;
    padding: 10px;
}
.button__reserva {
    background-color: rgb(36, 7, 224);
    border: 4px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 50px;
}
.button__reserva a {
   color: white;
}
.reserva__qr {
    display: flex;
    margin: 20px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px ridge white;
}
.reserva__qr__img {
    padding: 20px;
    border: 1px ridge white;
    margin: 30px;
}

.main__reserva__h1 {
    margin-top: 50px;
}
@media (max-width: 1200px){
    .container__reserva {
        display: flex;
        flex-wrap: wrap;
        border: 1px ridge white;
        padding: 25px;
        justify-content: space-around;
    }
    .reserva__qr {
        display: flex;
        flex-direction: row;
    }
}
@media (max-width: 768px){
    .reserva__qr {
        display: none;
        margin: 20px;
        flex-direction: column;
        justify-content: space-between;
        border: 1px ridge white;
    }
}

                    /* Pagina 4 */
                    /* Quienes somos */

.main__quienessomos {
    justify-content: space-around;
}
/* .quienesomos__h1 {

} */
.section__uno__quienessomos {
    display: flex;
    flex-wrap: wrap;
}
.quienessomos__img /* img ambos section */{
    width: fit-content;
    margin: auto auto;
    padding: 5px;
}
.mgbcombi {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px white;
      
}
.quienessomos__p /* p ambos section */{
    width: 100%;
    margin: auto auto;
    border: 1px solid black;
    padding: 25px;
    box-shadow: 0px 0px 3px 0px white;
}
.quienessomos__iframe/* iframe ambos section */ {
    width: 100%;
    height: 350px;
    margin: 60px 0;
}
iframe {
    width: 100%;
    border: 0;
    height: 100%;
}
.section__dos__quienessomos {
    display: flex;
    flex-wrap: wrap;
}
.section__dos__quienessomos p {
    padding: 25px;
    color: white;
}
                    /* quienes somos media queris */
                    
@media (min-width: 1200px) {
    
    .main__quienessomos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .section__uno__quienessomos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .quienessomos__p {
        margin-top: 100px;
        width: 70%;
        background: black;
    }
    .section__dos__quienessomos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
}
@media (min-width: 768px){
    .main__quienessomos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .quienessomos__p {
        margin-top: 100px;
        width: 70%;
        background: black;
    }
}
@media (min-width: 310px){
    .quienessomos__p {
        margin-top: 100px;
        width: 70%;
        background: black;
    }
}
                    /* Pagina 5 */
                    /* Contacto */

/* .main__contacto {

} */
.contacto__h1 {
    display: flex;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    justify-content: center;
}
.container__contacto {
    width: 50%;
    background-color: black;
    margin: auto;
    padding: 100px;
    border: groove;
}
/* .contacto__h1 {

} */
.contacto__p {
    text-align: center;
}
.contacto__text {
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
}
.contacto__form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}
.input {
    margin: 20px 0;
    border: 4px ridge #1fafd1;
    border-radius: 4px;
    background: #20297c;
    color: rgb(246 246 247);
}

/* textarea {
    margin: 20px 0;
    border: 4px ridge #1fafd1;
    border-radius: 4px;
    background: #20297c;
    color: rgb(246 246 247);
} */