/* extend son los shorcut de bloques de codigo que podemos insertar sin tener que escribir todo el bloque cada vez que queresmos hacer ese bloque */
/* se coloca poniendo un @extend */
/* la sintaxys son por ejemplo %boton */

/* mixin */

/* los mixin son bloques de codigops como el extend y pueden recibir un parametro */
/* mixin sintaxys 
@mixin boton($bgcolor, $textcolor){
    width: fit-content;
    padding: 15px;
    border-radius: 6px;
    background-color: $bgcolor;
    color: $textcolor;
} */
/* incluirlo */
/* .botonverde{
    @include boton (verde(background), white(text-color) */
/* @mixin flex($direction,$justif,        $aling, $wrap){
        disaply: flex;
        fle-direction_$direction;
*/

/* llamarlo .cajabotones{
    @include flex(column, center, end , nowrap)         */

/* @mixin mediaQuery ($pantalla){
        @media screen (min-width: 720px){
            @content}
} */
/* @mixin mediaQuery ($pantalla) {
    
    @if $pantalla == "mobile{
        @meida screen and (max-width: 320px){
            @content
        }
    };
    @if $pantalla == "tablet" {
        @media screen and (max-width: 720px{
            @content
        }
    }
}*/
/* ejemplo .caajbotnoes{
    @include mediaQuery{
        background-color: red;}
     } */

     /*  == : es cuando es igual.
     === : es cuando sea exacto 
     != : cuando sea distinto 
     <= : menos o igual
     >= : mayor o igual que
     */

     /* ejemplo @mixin flexboxWidth ($width){
        display: flex;width: $width ;
        @if $width >= 200 {(si es igual o mayor que 200 se aplica
            justify-content: center;
         }; @else{(si no es mayor o igual a 200 se  aplica esto otro
            justofy-content: space-evemly;
    */
          /* .botonrojo {
             */