/* extends */
%boton {
    margin: 0 auto;
    background: $main-background;
    border-image: $main-background;
    border-width: 4px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 50px;
    box-shadow: black 10px 13px 12px;

    a {
        color: white;
    }
}
%main {
    background: $main-background;
    border: 2px solid blue;
    color: white;
    margin-top: 50px;
    padding: 50px;
}
/* map */
$letras:(
    "p":white,
    "b": black,
    "t1": 1em,
    "t2": 1.5em,
    "t3": 2em,
    "t4": 2.5em,
)