/* variables */
$header-background: linear-gradient(to bottom right, white, white, #1fafd1, #05138e, #05138e, white);
$main-background: linear-gradient(to bottom right, #1fafd1, #05138e, #05138ec2, #1fafd1);
$border-main: 1px solid rgb(36, 7, 224);


/* maps */

